<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../global.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <button class="menu-item logo"><a href="../index.html">Layouts</a></button>
            <div class="menu-list">
                <button class="menu-item"><a href="./gridster-res.html">Gridster</a></button>
                <button class="menu-item"><a href="./message/message-detail.html">Message Detail</a></button>
                <button class="menu-item"><a href="./video-lobby/index.html">Video Lobby</a></button>
            </div>
        </div>
        <div class="section">
            <button class="back-to-home">
                <a href="../index.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-arrow-left">
                        <line x1="19" y1="12" x2="5" y2="12"></line>
                        <polyline points="12 19 5 12 12 5"></polyline>
                    </svg>
                    Back to Index
                </a>
            </button>
        </div>
    </div>
</body>

</html>