<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Lobby View</title>
    <link rel="stylesheet" href="../../global.css" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="container">
      <button class="back-to-home">
        <a href="../index.html">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-arrow-left"
          >
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
          </svg>
          Back to Index
        </a>
      </button>
      <h1>Video Lobby</h1>
      <div class="video-lobby">
        <div class="participant-wrapper">
          <div class="participant">Participant</div>
          <div class="participant">Participant</div>
          <div class="participant">Participant</div>
          <div class="participant active-participant">Active Participant</div>
          <div class="participant">Participant</div>
          <div class="participant">Participant</div>
          <div class="participant">Participant</div>
          <div class="participant">Participant</div>
          <div class="participant">Participant</div>
          <div class="participant">Participant</div>
        </div>
      </div>
    </div>
  </body>
</html>
